# for all files use the line feed that is most appropriate
# (this should avoid problems with windows users)
* text=auto

# clear output from jupyter notebooks
*.ipynb filter=clearoutput
# if you want to use this filter you need to add this to your ~/.gitconfig
# [filter "clearoutput"]
#        clean = "jupyter nbconvert --to notebook --ClearOutputPreprocessor.enabled=True --stdin --stdout"
